---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
!git clone https://github.com/aicharya/DSA_Python

Cloning into 'DSA_Python'...
remote: Enumerating objects: 111, done.
remote: Counting objects: 100% (111/111), done.
remote: Compressing objects: 100% (109/109), done.
remote: Total 111 (delta 46), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (111/111), 1.58 MiB | 3.64 MiB/s, done.
Resolving deltas: 100% (46/46), done.

In [2]:
import os
os.chdir("DSA_Python")
os.listdir()

['DSA_Python_23May2020.ipynb',
 'Exercise-01 _NumPy_Oct_2019.ipynb',
 'README.md',
 '.git',
 'DSA_Python_06JUNE2020.ipynb',
 'DSA_Python_24May2020.ipynb',
 'PandasTutorial.ipynb',
 'filter.py',
 'olympics.csv',
 'breast_cancer.csv',
 'DSA_Python_10MAY2020.ipynb',
 'Bicycle_Train.csv',
 'iris.csv',
 'DSAops.py',
 'Bicycle_Test.csv',
 'class01.py',
 'boston_house_prices.csv',
 'DSA_Python_17MAY2020.ipynb',
 'Pandas Tutorial (Updated-Jul 2020).ipynb',
 'NumPy.ipynb',
 'map.py',
 'wine_data.csv',
 'census.csv',
 'Assignment 2.ipynb',
 'person.py']

In [ ]:
!ls

'Assignment 2.ipynb'	       DSA_Python_24May2020.ipynb
 Bicycle_Test.csv	      'Exercise-01 _NumPy_Oct_2019.ipynb'
 Bicycle_Train.csv	       filter.py
 boston_house_prices.csv       iris.csv
 breast_cancer.csv	       map.py
 class01.py		       NumPy.ipynb
 DSAops.py		       olympics.csv
 DSA_Python_06JUNE2020.ipynb   PandasTutorial.ipynb
 DSA_Python_10MAY2020.ipynb    person.py
 DSA_Python_17MAY2020.ipynb    README.md
 DSA_Python_23May2020.ipynb    wine_data.csv

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [3]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0)

In [4]:
df.head()

                          1     2     3     4  ...    12    13    14              15
0                                              ...
NaN                № Summer  01 !  02 !  03 !  ...  01 !  02 !  03 !  Combined total
Afghanistan (AFG)        13     0     0     2  ...     0     0     2               2
Algeria (ALG)            12     5     2     8  ...     5     2     8              15
Argentina (ARG)          23    18    24    28  ...    18    24    28              70
Armenia (ARM)             5     1     2     9  ...     1     2     9              12

[5 rows x 15 columns]

In [5]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

In [6]:
df.head()

                         № Summer  01 !  02 !  ...  02 !.2  03 !.2  Combined total
Afghanistan (AFG)              13     0     0  ...       0       2               2
Algeria (ALG)                  12     5     2  ...       2       8              15
Argentina (ARG)                23    18    24  ...      24      28              70
Armenia (ARM)                   5     1     2  ...       2       9              12
Australasia (ANZ) [ANZ]         2     3     4  ...       4       5              12

[5 rows x 15 columns]

In [ ]:
?pd.read_csv

In [7]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [ ]:
?df.rename

In [8]:


for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

             # Summer  Gold  Silver  ...  Bronze.2  Combined total   ID
Afghanistan        13     0       0  ...         2               2  AFG
Algeria            12     5       2  ...         8              15  ALG
Argentina          23    18      24  ...        28              70  ARG
Armenia             5     1       2  ...         9              12  ARM
Australasia         2     3       4  ...         5              12  ANZ

[5 rows x 16 columns]

In [9]:
df.index

Index(['Afghanistan', 'Algeria', 'Argentina', 'Armenia', 'Australasia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       ...
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Virgin Islands',
       'Yugoslavia', 'Independent Olympic Participants', 'Zambia', 'Zimbabwe',
       'Mixed team'],
      dtype='object', length=146)

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [10]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [11]:
def answer_one():
    return df.Gold.idxmax()

answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [12]:
sDiffScores = df.Gold - df["Gold.1"]
df.index[sDiffScores.argmax()]

'United States'

In [13]:
sDiffScores.idxmax()

'United States'

In [14]:
def answer_two():
  sDiffScores = df.Gold - df["Gold.1"]
  return sDiffScores.idxmax()
  #return df.index[sDiffScores.argmax()]
  #return "YOUR ANSWER HERE"

answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [18]:
df2 = df[ (df.Gold > 0) & (df["Gold.1"] > 0) ]
sDiffScores = ( df2.Gold - df2["Gold.1"] ) / df2["Gold.2"]	
sDiffScores.idxmax()

'Bulgaria'

In [ ]:
def answer_three():
  sDiffScores = ( df.Gold - df["Gold.1"] ) / df["Gold.2"]
  return df.index[sDiffScores.argmax()]
  #return "YOUR ANSWER HERE"

answer_three()

'Algeria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [31]:
df[ ["Gold.2", "Silver.2", "Bronze.2"] ]

                                  Gold.2  Silver.2  Bronze.2
Afghanistan                            0         0         2
Algeria                                5         2         8
Argentina                             18        24        28
Armenia                                1         2         9
Australasia                            3         4         5
...                                  ...       ...       ...
Yugoslavia                            26        32        29
Independent Olympic Participants       0         1         2
Zambia                                 0         1         1
Zimbabwe                               3         4         1
Mixed team                             8         5         4

[146 rows x 3 columns]

In [33]:
df3 = df[ ["Gold.2", "Silver.2", "Bronze.2"] ] * [ 3, 2, 1 ]
df["Points"] =  df3.sum(axis=1)

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Length: 146, dtype: int64

In [45]:
def answer_four_v2():
  df['Points'] = df['Gold.2']*3 + df['Silver.2']*2 + df['Bronze.2']
  return df['Points']

In [46]:
%%timeit 100
answer_four_v2()

1000 loops, best of 3: 879 µs per loop

In [39]:
875*1000

875000

In [43]:
import numpy as np
def answer_four():
  df3 = df[ ["Gold.2", "Silver.2", "Bronze.2"] ] * np.array( [3, 2, 1])
  df["Points"] =  df3.sum(axis=1)
  return df["Points"]

#answer_four()

In [44]:
%%timeit 100
answer_four()

100 loops, best of 3: 2.54 ms per loop

In [40]:
2.56 / 1000 * 100

0.256

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [55]:

census_df = pd.read_csv('census.csv')
!ls
census_df

'Assignment 2.ipynb'	       DSA_Python_24May2020.ipynb
 Bicycle_Test.csv	      'Exercise-01 _NumPy_Oct_2019.ipynb'
 Bicycle_Train.csv	       filter.py
 boston_house_prices.csv       iris.csv
 breast_cancer.csv	       map.py
 census.csv		       NumPy.ipynb
 class01.py		       olympics.csv
 DSAops.py		       PandasTutorial.ipynb
 DSA_Python_06JUNE2020.ipynb  'Pandas Tutorial (Updated-Jul 2020).ipynb'
 DSA_Python_10MAY2020.ipynb    person.py
 DSA_Python_17MAY2020.ipynb    README.md
 DSA_Python_23May2020.ipynb    wine_data.csv

      SUMLEV  REGION  DIVISION  ...  RNETMIG2013  RNETMIG2014 RNETMIG2015
0         40       3         6  ...     1.383282     1.724718    0.712594
1         50       3         6  ...    -2.722002     2.592270   -2.187333
2         50       3         6  ...    22.727626    20.317142   18.293499
3         50       3         6  ...    -7.167664    -3.978583  -10.543299
4         50       3         6  ...    -5.403729     0.754533    1.107861
...      ...     ...       ...  ...          ...          ...         ...
3188      50       4         8  ...    -5.295460   -14.075283  -14.070195
3189      50       4         8  ...    21.160658    16.308671    1.520747
3190      50       4         8  ...    -7.521840   -14.740608  -12.606351
3191      50       4         8  ...    -2.250385   -18.020168    1.441961
3192      50       4         8  ...    12.372583     1.533635    6.935294

[3193 rows x 100 columns]

In [59]:
county_df = census_df[ census_df["SUMLEV"] == 50 ]
county_df["STNAME"].value_counts().idxmax()

'Texas'

In [63]:
def answer_five():
  county_df = census_df[ census_df["SUMLEV"] != 40 ]
  return county_df["STNAME"].value_counts().idxmax()
  #return "YOUR ANSWER HERE"

answer_five()

'Texas'

In [64]:
%%timeit 100
answer_five()

100 loops, best of 3: 2.57 ms per loop

In [65]:
def answer_five_v2():
  county_df = census_df[ census_df["STNAME"] != census_df["CTYNAME"] ]
  return county_df["STNAME"].value_counts().idxmax()
  #return "YOUR ANSWER HERE"

answer_five_v2()

'Texas'

In [66]:
%%timeit 100
answer_five_v2()

100 loops, best of 3: 2.74 ms per loop

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [75]:
county_df = census_df[ census_df["SUMLEV"] != 40 ]
states = county_df.groupby("STNAME").apply( lambda state : state.nlargest(3, "CENSUS2010POP").sum() ).nlargest(3, "CENSUS2010POP").index
list(states)

['California', 'Texas', 'Illinois']

In [76]:
def answer_six():
  county_df = census_df[ census_df["SUMLEV"] != 40 ]
  states = county_df.groupby("STNAME").apply( lambda state : state.nlargest(3, "CENSUS2010POP").sum() ).nlargest(3, "CENSUS2010POP").index
  return list(states)
  # return "YOUR ANSWER HERE"

answer_six()

['California', 'Texas', 'Illinois']

In [78]:
%%timeit 100
answer_six()

10 loops, best of 3: 160 ms per loop

In [77]:
def answer_six_v2():
  copy_df = census_df[ census_df.SUMLEV == 50 ] [["CENSUS2010POP", "STNAME"]].copy()
  copy_df = copy_df.groupby(["STNAME"]).apply(lambda counties : counties.nlargest(3, "CENSUS2010POP" ))
  mylist = list( copy_df.CENSUS2010POP.groupby(["STNAME"]).apply(sum).nlargest(3).index )
  return mylist

answer_six_v2()

['California', 'Texas', 'Illinois']

In [79]:
%%timeit 100
answer_six_v2()

10 loops, best of 3: 90.7 ms per loop

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [98]:
county_df = census_df[ census_df["SUMLEV"] != 40 ]
pop_df = county_df[ ["STNAME", "CTYNAME", "POPESTIMATE2010", "POPESTIMATE2011", "POPESTIMATE2012", "POPESTIMATE2013", "POPESTIMATE2014", "POPESTIMATE2015"] ]
r_df = pop_df.max(axis=1) - pop_df.min(axis=1)
countyIdx = r_df.idxmax()
county_df.iloc[countyIdx]["CTYNAME"]

'Leon County'

In [89]:
pop_df.apply( lambda county : county.max() , axis = 1 )

1        55347
2       203709
3        27341
4        22861
5        57776
         ...
3188     45162
3189     23125
3190     21102
3191      8545
3192      7234
Length: 3142, dtype: int64

In [94]:
pop_df.max(axis=1)

1        55347
2       203709
3        27341
4        22861
5        57776
         ...
3188     45162
3189     23125
3190     21102
3191      8545
3192      7234
Length: 3142, dtype: int64

In [101]:
def answer_seven():
  county_df = census_df[ census_df["SUMLEV"] != 40 ]
  pop_df = county_df[ ["STNAME", "CTYNAME", "POPESTIMATE2010", "POPESTIMATE2011", "POPESTIMATE2012", "POPESTIMATE2013", "POPESTIMATE2014", "POPESTIMATE2015"] ]
  r_df = pop_df.max(axis=1) - pop_df.min(axis=1)
  countyIdx = r_df.idxmax()
  return county_df.iloc[countyIdx]["CTYNAME"]
  # return "YOUR ANSWER HERE"

answer_seven()

'Leon County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [104]:
filtered_df = census_df[ (census_df["SUMLEV"] != 40) & ((census_df["REGION"] == 1) | (census_df["REGION"] == 2)) & (census_df["POPESTIMATE2015"]  > census_df["POPESTIMATE2014"]) & (census_df["CTYNAME"].apply(lambda ctyName : ctyName.startswith("Washington")))  ]
filtered_df[  ['STNAME', 'CTYNAME'] ]

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

In [ ]:
def answer_eight():
  
  return "YOUR ANSWER HERE"