---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
!git clone https://github.com/aicharya/DSA_Python

Cloning into 'DSA_Python'...
remote: Enumerating objects: 96, done.
remote: Counting objects: 100% (96/96), done.
remote: Compressing objects: 100% (94/94), done.
remote: Total 96 (delta 37), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (96/96), done.

In [5]:
import os
os.chdir("DSA_Python")
os.listdir()

['Assignment 2.ipynb',
 '.git',
 'DSA_Python_23May2020.ipynb',
 'Bicycle_Train.csv',
 'iris.csv',
 'olympics.csv',
 'class01.py',
 'README.md',
 'Bicycle_Test.csv',
 'DSA_Python_06JUNE2020.ipynb',
 'Exercise-01 _NumPy_Oct_2019.ipynb',
 'NumPy.ipynb',
 'wine_data.csv',
 'person.py',
 'filter.py',
 'PandasTutorial.ipynb',
 'boston_house_prices.csv',
 'breast_cancer.csv',
 'DSA_Python_24May2020.ipynb',
 'DSA_Python_10MAY2020.ipynb',
 'DSAops.py',
 'DSA_Python_17MAY2020.ipynb',
 'map.py']

In [6]:
!ls

'Assignment 2.ipynb'	       DSA_Python_24May2020.ipynb
 Bicycle_Test.csv	      'Exercise-01 _NumPy_Oct_2019.ipynb'
 Bicycle_Train.csv	       filter.py
 boston_house_prices.csv       iris.csv
 breast_cancer.csv	       map.py
 class01.py		       NumPy.ipynb
 DSAops.py		       olympics.csv
 DSA_Python_06JUNE2020.ipynb   PandasTutorial.ipynb
 DSA_Python_10MAY2020.ipynb    person.py
 DSA_Python_17MAY2020.ipynb    README.md
 DSA_Python_23May2020.ipynb    wine_data.csv

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [31]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0)

In [32]:
df.head()

                          1     2     3     4  ...    12    13    14              15
0                                              ...
NaN                № Summer  01 !  02 !  03 !  ...  01 !  02 !  03 !  Combined total
Afghanistan (AFG)        13     0     0     2  ...     0     0     2               2
Algeria (ALG)            12     5     2     8  ...     5     2     8              15
Argentina (ARG)          23    18    24    28  ...    18    24    28              70
Armenia (ARM)             5     1     2     9  ...     1     2     9              12

[5 rows x 15 columns]

In [33]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

In [34]:
df.head()

                         № Summer  01 !  02 !  ...  02 !.2  03 !.2  Combined total
Afghanistan (AFG)              13     0     0  ...       0       2               2
Algeria (ALG)                  12     5     2  ...       2       8              15
Argentina (ARG)                23    18    24  ...      24      28              70
Armenia (ARM)                   5     1     2  ...       2       9              12
Australasia (ANZ) [ANZ]         2     3     4  ...       4       5              12

[5 rows x 15 columns]

In [12]:
?pd.read_csv

In [35]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [11]:
?df.rename

In [36]:


for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

             # Summer  Gold  Silver  ...  Bronze.2  Combined total   ID
Afghanistan        13     0       0  ...         2               2  AFG
Algeria            12     5       2  ...         8              15  ALG
Argentina          23    18      24  ...        28              70  ARG
Armenia             5     1       2  ...         9              12  ARM
Australasia         2     3       4  ...         5              12  ANZ

[5 rows x 16 columns]

In [37]:
df.index

Index(['Afghanistan', 'Algeria', 'Argentina', 'Armenia', 'Australasia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       ...
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Virgin Islands',
       'Yugoslavia', 'Independent Olympic Participants', 'Zambia', 'Zimbabwe',
       'Mixed team'],
      dtype='object', length=146)

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [38]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [39]:
def answer_one():
    return df.Gold.idxmax()

answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [44]:
sDiffScores = df.Gold - df["Gold.1"]
df.index[sDiffScores.argmax()]

'United States'

In [45]:
def answer_two():
  sDiffScores = df.Gold - df["Gold.1"]
  return df.index[sDiffScores.argmax()]
  #return "YOUR ANSWER HERE"

answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [47]:
sDiffScores = ( df.Gold - df["Gold.1"] ) / df["Gold.2"]	
df.index[sDiffScores.argmax()]

'Algeria'

In [49]:
def answer_three():
  sDiffScores = ( df.Gold - df["Gold.1"] ) / df["Gold.2"]
  return df.index[sDiffScores.argmax()]
  #return "YOUR ANSWER HERE"

answer_three()

'Algeria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [ ]:
def answer_four():
    return "YOUR ANSWER HERE"

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [ ]:
census_df = pd.read_csv('census.csv')
!ls
census_df.head()

NameError: name 'pd' is not defined

In [ ]:
def answer_five():
    return "YOUR ANSWER HERE"

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [ ]:
def answer_six():
    return "YOUR ANSWER HERE"

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [ ]:
def answer_seven():
    return "YOUR ANSWER HERE"

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [ ]:
def answer_eight():
    return "YOUR ANSWER HERE"