<a href="https://colab.research.google.com/github/aicharya/DSA_Python/blob/master/DSA_Cassandra_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataScienceAcademy

https://bit.ly/DSAcasandra

https://datascience.one

## Cassandra Tutorial

In [ ]:
ls

sample_data/  secure-connect-dsadb.zip

In [ ]:
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading https://files.pythonhosted.org/packages/d0/55/7b49947ae739a4e93d2174e2ddd1dd9b9baac5ba7016ce6c16b394e696cd/cassandra_driver-3.24.0-cp36-cp36m-manylinux1_x86_64.whl (3.8MB)
     |████████████████████████████████| 3.8MB 105kB/s
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from cassandra-driver) (1.15.0)
Collecting geomet<0.3,>=0.1
  Downloading https://files.pythonhosted.org/packages/c9/81/156ca48f950f833ddc392f8e3677ca50a18cb9d5db38ccb4ecea55a9303f/geomet-0.2.1.post1-py3-none-any.whl
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.24.0 geomet-0.2.1.post1

In [ ]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config = {
    'secure_connect_bundle': 'secure-connect-dsadb.zip'
}
auth_provider = PlainTextAuthProvider(username='dsauser', password='dsapass123!')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

#### Session Keyspace

The connect() method takes an optional keyspace argument which sets the default keyspace for all queries made through that Session

In [ ]:
session = cluster.connect('dsakeyspace')

#### Create Table
To create a table, use session object to execute CQL query for creating a table.
#### Syntax
create table tablename(attribute_name datatype..);

In [ ]:
qry= '''
create table students (
   studentID int,
   name text,
   age int,
   marks int,
   primary key(studentID)
);'''
session.execute(qry)

#### Insert Query

In [ ]:
session.execute("insert into students (studentID, name, age, marks) values (1, 'Minu',20, 200);")

#### Select Statement

In [ ]:
rows=session.execute("select * from students;")
for row in rows:
  print(row)

Row(studentid=1, age=20, marks=200, name='Minu')

Cassandra’s SELECT query supports use of WHERE clause to apply filter on result set to be fetched. Traditional logical operators like <, > == etc. are recognized.

In [ ]:
rows=session.execute("select * from students WHERE age>10 allow filtering;")
for row in rows:
  print(row)

Row(studentid=1, age=20, marks=200, name='Karthik')

#### Update

In [ ]:
session.execute("UPDATE students SET name='Karthik' WHERE studentid=1;")

#### Alter Table
ALTER TABLE table name ADD  new column datatype;

In [ ]:
session.execute("ALTER TABLE students ADD place text")

In [ ]:
session.execute("insert into students (studentID, name, age, marks,place) values (1, 'Jeny',20, 200,'TVM');")

In [ ]:
rows=session.execute("select * from students")
for row in rows:
  print(row)

#### TRUNCATE

In [ ]:
session.execute("TRUNCATE students;")

In [ ]:
rows=session.execute("select * from students WHERE age>10 allow filtering;")
for row in rows:
  print(row)

#### Drop Table

In [ ]:
session.execute("DROP TABLE students;")