<a href="https://colab.research.google.com/github/aicharya/DSA_Python/blob/master/DSA_Python_23May2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def divnum(a,b):
  return a/b

In [2]:
divnum(10,2)

5.0

In [3]:
divnum(2,10)

0.2

In [4]:
divnum(a=10,b=2)

5.0

In [5]:
divnum(b=2,a=10)

5.0

In [0]:
import math
sinOfA = math.sin(10)

In [7]:
math.sin(10)

-0.5440211108893698

In [10]:
type(sinOfA)

float

In [0]:
divVar = divnum(10,2)

In [12]:
divVar

5.0

In [14]:
type(divVar)

float

Return dictionary

In [0]:
def build_person(firstname, lastname):
  person = { 'first' : firstname, 'last': lastname }
  return person

In [18]:
build_person("binulal", "Narayanan")

{'first': 'binulal', 'last': 'Narayanan'}

City, Country

In [0]:
def city_country(city, country):
  return "{0}, {1}".format(city, country)

In [22]:
city_country("Bangalore", "India")

'Bangalore, India'

In [23]:
city_country("Trivandrum", "India")

'Trivandrum, India'

In [24]:
city_country("Kochi", "India")

'Kochi, India'

In [0]:
def greet_users(names):
  for name in names:
    msg = "Hello, " + name.title() + "!"
    print(msg)

In [29]:
usernames = ["Rachel", "Ross", "Chandler", "Monica", "Pheobe", "Joey"]
greet_users(usernames)

Hello, Rachel!
Hello, Ross!
Hello, Chandler!
Hello, Monica!
Hello, Pheobe!
Hello, Joey!

In [0]:
def printCompanyDetails(data):
  for x, y in data.items():
    print("This is the key: " + x, " This is the value: " + y  )

In [34]:
company1 = { "name": "Binucus", "established": "2004", "Location" : "Trivandrum"}
printCompanyDetails(company1)

This is the key: name  This is the value: Binucus
This is the key: established  This is the value: 2004
This is the key: Location  This is the value: Trivanerum

In [35]:
company1.items()

dict_items([('name', 'Binucus'), ('established', '2004'), ('Location', 'Trivanerum')])

In [37]:
def printComp(d2):
  for i,j in d2.items():
    print("The Keys is {0}, The values is {1}".format(i,j) )

company2 = { "name": "Binucus", "established": 2004, "Location" : "Trivandrum"}
printComp(company2)

The Keys is name, The values is Binucus
The Keys is established, The values is 2004
The Keys is Location, The values is Trivandrum

In [38]:
ip=[002,003,004]

SyntaxError: ignored

In [43]:
ip=[0o11,0o07,0o09]

SyntaxError: ignored

In [44]:
for x in ip:
  print(type(x))

<class 'int'>
<class 'int'>
<class 'int'>

In [0]:
def fruits(*fruit):
  print(fruit)

In [0]:
def addNum( *number ):
  sum = 0
  for num in number:
    sum += num
  print(sum)

In [46]:
fruits("apple", "orange", "pear", "grape", "banana")

('apple', 'orange', 'pear', 'grape', 'banana')

In [48]:
addNum(1,2,3,4,5,6)

21

In [0]:
def addNum2(a, b, *nums):
  sum = a + b
  for num in nums:
    sum += num
  print(sum)

In [53]:
addNum2(1, 2, 3, 4 ,5 )

15

In [54]:
def addNum3(a=10, b, *c):
  sum = a + b
  for num in nums:
    sum += num
  print(sum)

SyntaxError: ignored

In [0]:
def addNum3(b, a=10,  *nums):
  print(a)
  print(b)
  sum = a + b
  for num in nums:
    sum += num
  print(sum)

In [66]:
addNum3(1, 2, 3, 4 ,5 )

2
1
15

https://www.python.org/dev/peps/pep-0468/

Keyword arguments

In [0]:
def sample(first, last, **userinfo):
  print(first)
  print(last)
  print(userinfo)

  print(type(userinfo))

In [76]:
sample("apple", "orange", established = 2004, listed = 2005, location="Trivandrum")

apple
orange
{'established': 2004, 'listed': 2005, 'location': 'Trivandrum'}
<class 'dict'>

In [0]:
def sample2(first, last, **userinfo):
  return(first, last, userinfo)

In [79]:
sample2("apple", "orange", established = 2004, listed = 2005, location="Trivandrum")

('apple',
 'orange',
 {'established': 2004, 'listed': 2005, 'location': 'Trivandrum'})

In [0]:
def sample3(first, last, userinfo):
  return(first, last, userinfo)

In [84]:
sample3("Binulal", "Narayanan", established = 2004, listed = 2005, location="Trivandrum")

TypeError: ignored

In [0]:
def sample4(first, last, **userinfo):
  profile = {}
  profile["firstname"] = first 
  profile["last"] = last
  for key, value in userinfo.items():
    profile[key] = value
  return profile

In [86]:
sample4("Binulal", "Narayanan", established = 2004, listed = 2005, location="Trivandrum")

{'established': 2004,
 'firstname': 'Binulal',
 'last': 'Narayanan',
 'listed': 2005,
 'location': 'Trivandrum'}