<a href="https://colab.research.google.com/github/aicharya/DSA_Python/blob/master/MongoDB_With_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Academy
[https://datascience.one](https://datascience.one)

In [2]:
import pymongo

In [1]:
!pip install dnspython

Requirement already satisfied: dnspython in /usr/local/lib/python3.6/dist-packages (2.0.0)

In [ ]:
#client = pymongo.MongoClient("mongodb+srv://dsauser01:<password>@cluster0.may9g.mongodb.net/<dbname>?retryWrites=true&w=majority")

In [4]:
# DO NOT SAVE
client = pymongo.MongoClient("mongodb+srv://dbuser:$1lverk3y@cluster0.izitw.mongodb.net/silverdb?retryWrites=true&w=majority")
db = client.test

In [5]:
db

Database(MongoClient(host=['cluster0-shard-00-00.izitw.mongodb.net:27017', 'cluster0-shard-00-02.izitw.mongodb.net:27017', 'cluster0-shard-00-01.izitw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-lfjfwx-shard-0', ssl=True), 'test')

#### Check if Database Exists

In [6]:
dblist = client.list_database_names()

In [7]:
dblist

['silverdb', 'admin', 'local']

In [8]:

mydb = client["silverdb"]
mycol = mydb["silverines"]
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [9]:
x

#### Insert  Many

In [32]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
#print(x.inserted_ids)
for id in x.inserted_ids:
  print(id)

5f1be3ccb4b5f5c025898fcb
5f1be3ccb4b5f5c025898fcc
5f1be3ccb4b5f5c025898fcd
5f1be3ccb4b5f5c025898fce
5f1be3ccb4b5f5c025898fcf
5f1be3ccb4b5f5c025898fd0
5f1be3ccb4b5f5c025898fd1
5f1be3ccb4b5f5c025898fd2
5f1be3ccb4b5f5c025898fd3
5f1be3ccb4b5f5c025898fd4
5f1be3ccb4b5f5c025898fd5
5f1be3ccb4b5f5c025898fd6

#### Select Data From A Collection
Two Methods were used:
- find_one()
- find()

#### Display single record from database

In [11]:
x = mycol.find_one()

print(x)

{'_id': ObjectId('5f1bda11b4b5f5c025898fbe'), 'name': 'John', 'address': 'Highway 37'}

#### Display all the records from a database

In [12]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5f1bda11b4b5f5c025898fbe'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fbf'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fca'), 'name': 'Viola', 'address': 'Sideway 1633'}

#### Return Only Some Fields

In [23]:
for x in mycol.find({},{ "_id": 0,  "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

#### Filter the Result

When finding documents in a collection, you can filter the result by using a query object.

The first argument of the find() method is a query object, and is used to limit the search.

In [24]:
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc7'), 'name': 'Ben', 'address': 'Park Lane 38'}

In [25]:

myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fca'), 'name': 'Viola', 'address': 'Sideway 1633'}

#### Sort the Result

- sort("name", 1) #ascending
- sort("name", -1) #descending

In [26]:
mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('5f1bdb2bb4b5f5c025898fbf'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bda11b4b5f5c025898fbe'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fca'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5f1bdb2bb4b5f5c025898fc8'), 'name': 'William', 'address': 'Central st 954'}

In [30]:
mydoc = mycol.find().sort("name",-1)

for x in mydoc:
  print(x)

In [28]:
myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

#### Delete All Documents in a Collection

To delete all documents in a collection, pass an empty query object to the delete_many() method:

In [29]:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

12  documents deleted.

#### Update Record

You can update a record, or document as it is called in MongoDB, by using the update_one() method.

The first parameter of the update_one() method is a query object defining which document to update.The second parameter is an object defining the new values of the document.

In [33]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

cc

{'_id': ObjectId('5f1be3ccb4b5f5c025898fcb'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fcc'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fcd'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fce'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fcf'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd6'), 'name': 'Viola', 'address': 'Sideway 1633'}

#### Update Many

To update all documents that meets the criteria of the query, use the update_many() method.

In [34]:

myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

In [35]:
#print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5f1be3ccb4b5f5c025898fcb'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fcc'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fcd'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fce'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fcf'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd0'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd6'), 'name': 'Minnie', 'address': 'Sideway 1633'}

#### Limit the Result

To limit the result in MongoDB, we use the limit() method.

The limit() method takes one parameter, a number defining how many documents to return.

In [36]:
myresult = mycol.find().limit(5)


for x in myresult:
  print(x)

{'_id': ObjectId('5f1be3ccb4b5f5c025898fcb'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fcc'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fcd'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fce'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fcf'), 'name': 'Betty', 'address': 'Green Grass 1'}

In [37]:
from bson.objectid import ObjectId
myquery = { "_id": ObjectId('5f1be3ccb4b5f5c025898fcf') }
newvalues = { "$set": { "name": "Jane" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")
for x in mycol.find():
  print(x)

1 documents updated.
{'_id': ObjectId('5f1be3ccb4b5f5c025898fcb'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fcc'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fcd'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fce'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fcf'), 'name': 'Jane', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd0'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1be3ccb4b5f5c025898fd6'), 'name': 'Minnie', 'address': 'Sideway 1633'}