<a href="https://colab.research.google.com/github/aicharya/DSA_Python/blob/master/MongoDB_With_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Academy
[https://datascience.one](https://datascience.one)

In [ ]:
import pymongo

In [ ]:
#!pip install dnspython

In [ ]:

client = pymongo.MongoClient("mongodb+srv://dsauser:esPbSNm0slKDD7Uw@cluster0-ailae.gcp.mongodb.net/dsadb?retryWrites=true&w=majority")
#db = client.test
#client = pymongo.MongoClient("mongodb+srv://dsauser:esPbSNm0slKDD7Uw@cluster0.may9g.mongodb.net/dsadb?retryWrites=true&w=majority")

#### Check if Database Exists

In [ ]:
dblist = client.list_database_names()

In [ ]:
dblist

['dsadb', 'admin', 'local']

In [ ]:

mydb = client["dsadb"]
mycol = mydb["dsacol"]
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [ ]:
?mycol.insert_one

#### Insert  Many

In [ ]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('5f1bdb033e6fee72dcf6cfb0'), ObjectId('5f1bdb033e6fee72dcf6cfb1'), ObjectId('5f1bdb033e6fee72dcf6cfb2'), ObjectId('5f1bdb033e6fee72dcf6cfb3'), ObjectId('5f1bdb033e6fee72dcf6cfb4'), ObjectId('5f1bdb033e6fee72dcf6cfb5'), ObjectId('5f1bdb033e6fee72dcf6cfb6'), ObjectId('5f1bdb033e6fee72dcf6cfb7'), ObjectId('5f1bdb033e6fee72dcf6cfb8'), ObjectId('5f1bdb033e6fee72dcf6cfb9'), ObjectId('5f1bdb033e6fee72dcf6cfba'), ObjectId('5f1bdb033e6fee72dcf6cfbb')]

#### Select Data From A Collection
Two Methods were used:
- find_one()
- find()

#### Display single record from database

In [ ]:
x = mycol.find_one()

print(x)

{'_id': ObjectId('5f1bda173e6fee72dcf6cfa2'), 'name': 'John', 'address': 'Highway 37'}

#### Display all the records from a database

In [ ]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5f1bda173e6fee72dcf6cfa2'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bda3a3e6fee72dcf6cfa3'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa5'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa6'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfaa'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfab'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfac'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfad'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfae'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfaf'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfbb'), 'name': 'Viola', 'address': 'Sideway 1633'}

#### Return Only Some Fields

In [ ]:
for x in mycol.find({},{ "_id": 0, "name": 0, "address": 0 }):
  print(x)

{'name': 'John'}
{'name': 'John'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}

#### Filter the Result

When finding documents in a collection, you can filter the result by using a query object.

The first argument of the find() method is a query object, and is used to limit the search.

In [ ]:
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfac'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb8'), 'name': 'Ben', 'address': 'Park Lane 38'}

In [ ]:
mydoc

In [ ]:
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfaf'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfbb'), 'name': 'Viola', 'address': 'Sideway 1633'}

#### Sort the Result

- sort("name", 1) #ascending
- sort("name", -1) #descending

In [ ]:
mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfac'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfae'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa5'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bda173e6fee72dcf6cfa2'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bda3a3e6fee72dcf6cfa3'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa6'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfaa'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfab'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfaf'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfbb'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfad'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb9'), 'name': 'William', 'address': 'Central st 954'}

In [ ]:
mydoc = mycol.find().sort("name",-1)

for x in mydoc:
  print(x)

{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfad'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfaf'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfbb'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfab'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfaa'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa6'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5f1bda173e6fee72dcf6cfa2'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bda3a3e6fee72dcf6cfa3'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa5'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfae'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfac'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb0'), 'name': 'Amy', 'address': 'Apple st 652'}

In [ ]:
myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

#### Delete All Documents in a Collection

To delete all documents in a collection, pass an empty query object to the delete_many() method:

In [ ]:
x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

12  documents deleted.

#### Update Record

You can update a record, or document as it is called in MongoDB, by using the update_one() method.

The first parameter of the update_one() method is a query object defining which document to update.The second parameter is an object defining the new values of the document.

In [ ]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5f1bda173e6fee72dcf6cfa2'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bda3a3e6fee72dcf6cfa3'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa5'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa6'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfaa'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfab'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfac'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfad'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfae'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfaf'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb2'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfbb'), 'name': 'Viola', 'address': 'Sideway 1633'}

#### Update Many

To update all documents that meets the criteria of the query, use the update_many() method.

In [ ]:

myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")
for x in mycol.find():
  print(x)

0 documents updated.
{'_id': ObjectId('5f1bda173e6fee72dcf6cfa2'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bda3a3e6fee72dcf6cfa3'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa5'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa6'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa9'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfaa'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfab'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfac'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfad'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfae'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfaf'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb2'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb5'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfbb'), 'name': 'Minnie', 'address': 'Sideway 1633'}

In [ ]:
from bson.objectid import ObjectId
myquery = { "_id": ObjectId('5f1bdb033e6fee72dcf6cfbb') }
newvalues = { "$set": { "name": "Jane" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")
for x in mycol.find():
  print(x)

1 documents updated.
{'_id': ObjectId('5f1bda173e6fee72dcf6cfa2'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bda3a3e6fee72dcf6cfa3'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa5'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa6'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfa9'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfaa'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfab'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfac'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfad'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfae'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdacf3e6fee72dcf6cfaf'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb2'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb5'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfb9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f1bdb033e6fee72dcf6cfbb'), 'name': 'Jane', 'address': 'Sideway 1633'}

#### Limit the Result

To limit the result in MongoDB, we use the limit() method.

The limit() method takes one parameter, a number defining how many documents to return.

In [ ]:
myresult = mycol.find().limit(5)


for x in myresult:
  print(x)

{'_id': ObjectId('5f1ba9d250c6b386e4e887a9'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f1ba9d250c6b386e4e887aa'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f1ba9d250c6b386e4e887ab'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5f1ba9d250c6b386e4e887ac'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f1ba9d250c6b386e4e887ad'), 'name': 'Betty', 'address': 'Green Grass 1'}