<a href="https://colab.research.google.com/github/aicharya/DSA_Python/blob/master/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
left = pd.DataFrame({'lprod' : ['foo', 'bar', 'pac', 'foo'], 'lRev' : [1, 2, 3, 4], "lMonth" : [ 6, 7, 8, 9] })

In [6]:
left

  lprod  lRev  lMonth
0   foo     1       6
1   bar     2       7
2   pac     3       8
3   foo     4       9

In [3]:
right = pd.DataFrame({'rprod' : ['foo', 'bar', 'jaz'], 'rRev' : [1, 2, 8], "rMonth" : [66, 76, 86]})

In [7]:
right

  rprod  rRev  rMonth
0   foo     1      66
1   bar     2      76
2   jaz     8      86

In [5]:
pd.merge( left, right, left_on=['lprod'], right_on='rprod', how='outer')

  lprod  lRev  lMonth rprod  rRev  rMonth
0   foo   1.0     6.0   foo   1.0    66.0
1   foo   4.0     9.0   foo   1.0    66.0
2   bar   2.0     7.0   bar   2.0    76.0
3   pac   3.0     8.0   NaN   NaN     NaN
4   NaN   NaN     NaN   jaz   8.0    86.0

In [8]:
pd.merge( left, right, left_on=['lprod', 'lMonth'], right_on=['rprod', 'rMonth' ], how='outer')

  lprod  lRev  lMonth rprod  rRev  rMonth
0   foo   1.0     6.0   NaN   NaN     NaN
1   bar   2.0     7.0   NaN   NaN     NaN
2   pac   3.0     8.0   NaN   NaN     NaN
3   foo   4.0     9.0   NaN   NaN     NaN
4   NaN   NaN     NaN   foo   1.0    66.0
5   NaN   NaN     NaN   bar   2.0    76.0
6   NaN   NaN     NaN   jaz   8.0    86.0