<a href="https://colab.research.google.com/github/aicharya/DSA_Python/blob/master/Text_Mining_%26_NLP_with_NLTK_(Aug_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataScienceAcademy                                 
https://datascience.one


Short Link to this notebook: https://bit.ly/DSAnltk
 

## Introduction to Text Mining & Natural Language Processing 
#### -NLTK, SK-Learn

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Working With Text

In [ ]:
# Install NLTK & Spacy
#!pip3 install nltk spacy

In [2]:
import spacy
import nltk

Download Raw data from: https://goo.gl/1Bxhns

In [ ]:
#!pip3 install nltk --user

### Processing free-text

In [3]:
text5 = '"Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text6 = text5.split(' ')

text6

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr']

<br>
Finding hastags:

In [7]:
[w for w in (text6+["#binnareyn"]) if w.startswith('#')]

['#UNSG', '#binnareyn']

In [8]:
"brijesh".startswith("bri")

True

<br>
Finding callouts:

In [9]:
text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text8 = text7.split(' ')

In [11]:
[w for w in text8 if w.startswith('@')]

['@UN', '@UN_Women', '@']

Regex Python: 
- https://docs.python.org/3.6/library/re.html

- https://docs.python.org/3.6/howto/regex.html#regex-howto

<br>

We can use regular expressions to help us with more complex parsing. 

For example `'@[A-Za-z0-9_]+'` will return all words that: 
* start with `'@'` and are followed by at least one: 
* capital letter (`'A-Z'`)
* lowercase letter (`'a-z'`) 
* number (`'0-9'`)
* or underscore (`'_'`)

In [13]:
text8

['@UN',
 '@UN_Women',
 '"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr']

In [15]:
import re # import re - a module that provides support for regular expressions

[w for w in text8 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_Women']

In [21]:
[w for w in text8 if re.search('@[A-Za-z0-9_]*', w)]

['@UN', '@UN_Women', '@']

In [22]:
text8

['@UN',
 '@UN_Women',
 '"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr']

In [26]:
text17 = '@UN @UN_Women "ethics" \
#apples @oranges'
[w for w in text17]

['@',
 'U',
 'N',
 ' ',
 '@',
 'U',
 'N',
 '_',
 'W',
 'o',
 'm',
 'e',
 'n',
 ' ',
 '"',
 'e',
 't',
 'h',
 'i',
 'c',
 's',
 '"',
 ' ',
 '#',
 'a',
 'p',
 'p',
 'l',
 'e',
 's',
 ' ',
 '@',
 'o',
 'r',
 'a',
 'n',
 'g',
 'e',
 's']

In [19]:
re.search('^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$', "this is brijesh@curvelogics.com")

In [18]:
re.search('^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w+$', "brije.sh@curvelogics.com")

In [20]:
re.findall('ab+', "a ab abb abcc acbb accc")

['ab', 'abb', 'ab']

In [ ]:
re.findall('ac[b,c]+', "a ab abb acbb accc")

['acbb', 'accc']

In [ ]:
re.findall('ac[^e]+', "a ab abb acbb accc aceee acaa")

['acbb accc ac acaa']

In [ ]:
re.findall('^@[A-Za-z0-9_]+', "@UN_Women @UN, @UN_Women. \n@UN, @UN_Women___")

['@UN_Women']

# Working with Text Data in pandas

In [28]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [29]:
# find the number of characters for each string in df['text']
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [30]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [31]:
df["text"].str.swapcase()

0       mONDAY: tHE DOCTOR'S APPOINTMENT IS AT 2:45PM.
1    tUESDAY: tHE DENTIST'S APPOINTMENT IS AT 11:30...
2    wEDNESDAY: aT 7:00PM, THERE IS A BASKETBALL GAME!
3    tHURSDAY: bE BACK HOME BY 11:15 PM AT THE LATEST.
4    fRIDAY: tAKE THE TRAIN AT 08:10 AM, ARRIVE AT ...
Name: text, dtype: object

In [32]:
# find which entries contain the word 'appointment'
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [ ]:
#df["text"][4]

In [34]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [35]:
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [36]:
# find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [37]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [38]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [39]:
df['text'].str.findall(r'\w+day\b')

0       [Monday]
1      [Tuesday]
2    [Wednesday]
3     [Thursday]
4       [Friday]
Name: text, dtype: object

In [ ]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [ ]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [ ]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [ ]:
# extract the entire time, the hours, the minutes, and the period with group names
# ?P used to set name of groups here 
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

## Basic NLP Tasks with NLTK

In [43]:
#!pip3 install nltk --user
import nltk
nltk.download('book')
#https://www.nltk.org/book/
from nltk.book import *

[nltk_data] Downloading collection 'book'
[nltk_data]    |
[nltk_data]    | Downloading package abc to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/abc.zip.
[nltk_data]    | Downloading package brown to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/brown.zip.
[nltk_data]    | Downloading package chat80 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/chat80.zip.
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package conll2000 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2000.zip.
[nltk_data]    | Downloading package conll2002 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2002.zip.
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/dependency_treebank.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package ieer to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ieer.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package nps_chat to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/nps_chat.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package ppattach to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ppattach.zip.
[nltk_data]    | Downloading package reuters to /root/nltk_data...
[nltk_data]    | Downloading package senseval to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/senseval.zip.
[nltk_data]    | Downloading package state_union to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/state_union.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package swadesh to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/swadesh.zip.
[nltk_data]    | Downloading package timit to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/timit.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package toolbox to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/toolbox.zip.
[nltk_data]    | Downloading package udhr to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr.zip.
[nltk_data]    | Downloading package udhr2 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr2.zip.
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/unicode_samples.zip.
[nltk_data]    | Downloading package webtext to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/webtext.zip.
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet.zip.
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/maxent_treebank_pos_tagger.zip.
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/universal_tagset.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/book_grammars.zip.
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/city_database.zip.
[nltk_data]    | Downloading package tagsets to /root/nltk_data...
[nltk_data]    |   Unzipping help/tagsets.zip.
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection book
*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [ ]:
nltk.download("book")

[nltk_data] Downloading collection 'book'
[nltk_data]    |
[nltk_data]    | Downloading package abc to /home/brijesh/nltk_data...
[nltk_data]    |   Package abc is already up-to-date!
[nltk_data]    | Downloading package brown to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package brown is already up-to-date!
[nltk_data]    | Downloading package chat80 to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package chat80 is already up-to-date!
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package conll2000 to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package conll2000 is already up-to-date!
[nltk_data]    | Downloading package conll2002 to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package conll2002 is already up-to-date!
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package dependency_treebank is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package ieer to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package ieer is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package nps_chat to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package nps_chat is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package ppattach to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package ppattach is already up-to-date!
[nltk_data]    | Downloading package reuters to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package reuters is already up-to-date!
[nltk_data]    | Downloading package senseval to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package senseval is already up-to-date!
[nltk_data]    | Downloading package state_union to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package state_union is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package swadesh to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package swadesh is already up-to-date!
[nltk_data]    | Downloading package timit to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package timit is already up-to-date!
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package toolbox to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package toolbox is already up-to-date!
[nltk_data]    | Downloading package udhr to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package udhr is already up-to-date!
[nltk_data]    | Downloading package udhr2 to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package udhr2 is already up-to-date!
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package unicode_samples is already up-to-date!
[nltk_data]    | Downloading package webtext to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package webtext is already up-to-date!
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package maxent_treebank_pos_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package universal_tagset is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package book_grammars is already up-to-date!
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package city_database is already up-to-date!
[nltk_data]    | Downloading package tagsets to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package tagsets is already up-to-date!
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package panlex_swadesh is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /home/brijesh/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection book

True

### Counting vocabulary of words

In [44]:
texts()

text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [45]:
sents()

sent1: Call me Ishmael .
sent2: The family of Dashwood had long been settled in Sussex .
sent3: In the beginning God created the heaven and the earth .
sent4: Fellow - Citizens of the Senate and of the House of Representatives :
sent5: I have a problem with people PMing me to lol JOIN
sent6: SCENE 1 : [ wind ] [ clop clop clop ] KING ARTHUR : Whoa there !
sent7: Pierre Vinken , 61 years old , will join the board as a nonexecutive director Nov. 29 .
sent8: 25 SEXY MALE , seeks attrac older single lady , for discreet encounters .
sent9: THE suburb of Saffron Park lay on the sunset side of London , as red and ragged as a cloud of sunset .

In [46]:
text7

In [47]:
type(text7)

nltk.text.Text

In [48]:
sent7

['Pierre',
 'Vinken',
 ',',
 '61',
 'years',
 'old',
 ',',
 'will',
 'join',
 'the',
 'board',
 'as',
 'a',
 'nonexecutive',
 'director',
 'Nov.',
 '29',
 '.']

In [49]:
len(sent7)

18

In [50]:
len(text7)

100676

In [51]:
len(set(text7))

12408

In [52]:
list(set(text7))[:10]

['registration',
 'rang',
 'Traficant',
 'unfunded',
 '190',
 'repaired',
 '1:30',
 'replacement',
 'month',
 'editor']

### Frequency of words

In [53]:
dist = FreqDist(text7)
len(dist)

12408

In [ ]:
#len({"brijesh":2, "an":100})

In [54]:
type(dist)

nltk.probability.FreqDist

In [ ]:
#dist

In [55]:
vocab1 = dist.keys()
#vocab1
# In Python 3 dict.keys() returns an iterable view instead of a list
list(vocab1)[:10]

['Pierre', 'Vinken', ',', '61', 'years', 'old', 'will', 'join', 'the', 'board']

In [ ]:
dist['four']

20

In [ ]:
dist['refused']

7

In [ ]:
freqwords = [w for w in vocab1 if len(w) > 5 and dist[w] > 100]
freqwords

['billion',
 'company',
 'president',
 'because',
 'market',
 'million',
 'shares',
 'trading',
 'program']

In [ ]:
[w for w in vocab1 if w.startswith("great")]

['greater', 'great', 'greatly', 'greatest']

### Normalization and stemming

In [ ]:
input1 = "List listed lists listing listings"
words1 = input1.lower().split(' ')
words1

['list', 'listed', 'lists', 'listing', 'listings']

In [ ]:
porter = nltk.PorterStemmer()
[porter.stem(t) for t in words1]

['list', 'list', 'list', 'list', 'list']

In [ ]:
input1 = "procedure procedural"
words1 = input1.lower().split(' ')
words1
[porter.stem(t) for t in words1]

['procedur', 'procedur']

### Lemmatization

In [56]:
udhr = nltk.corpus.udhr.words('English-Latin1')
udhr[:20]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'rights',
 'of']

In [ ]:
[porter.stem(t) for t in udhr[:20]] # Still Lemmatization

['univers',
 'declar',
 'of',
 'human',
 'right',
 'preambl',
 'wherea',
 'recognit',
 'of',
 'the',
 'inher',
 'digniti',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalien',
 'right',
 'of']

In [ ]:
udhr[:20]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'rights',
 'of']

https://en.wikipedia.org/wiki/WordNet

https://wordnet.princeton.edu/

In [57]:
WNlemma = nltk.WordNetLemmatizer()
[WNlemma.lemmatize(t) for t in udhr[:20]]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'right',
 'of']

### Tokenization

In [58]:
text11 = "Children shouldn't drink a sugary drink before bed."
text11.split(' ')

['Children', "shouldn't", 'drink', 'a', 'sugary', 'drink', 'before', 'bed.']

In [59]:
nltk.word_tokenize(text11)

['Children',
 'should',
 "n't",
 'drink',
 'a',
 'sugary',
 'drink',
 'before',
 'bed',
 '.']

In [60]:
text12 = "This is the first sentence. A gallon of milk in the U.S. costs $2.99. Is this the third sentence? Yes, it is!"
sentences = nltk.sent_tokenize(text12)
len(sentences)

4

In [ ]:
text12.split(".")

['This is the first sentence',
 ' A gallon of milk in the U',
 'S',
 ' costs $2',
 '99',
 ' Is this the third sentence? Yes, it is!']

In [ ]:
sentences

['This is the first sentence.',
 'A gallon of milk in the U.S. costs $2.99.',
 'Is this the third sentence?',
 'Yes, it is!']

## Advanced NLP Tasks with NLTK

### POS tagging

https://cs.nyu.edu/grishman/jet/guide/PennPOS.html

In [61]:
nltk.help.upenn_tagset('MD')

MD: modal auxiliary
    can cannot could couldn't dare may might must need ought shall should
    shouldn't will would

In [62]:
nltk.help.upenn_tagset('RB')

RB: adverb
    occasionally unabatingly maddeningly adventurously professedly
    stirringly prominently technologically magisterially predominately
    swiftly fiscally pitilessly ...

In [ ]:
text11

"Children shouldn't drink a sugary drink before bed."

In [ ]:
text13=nltk.word_tokenize(text11)
nltk.pos_tag(text13)

[('Children', 'NNP'),
 ('should', 'MD'),
 ("n't", 'RB'),
 ('drink', 'VB'),
 ('a', 'DT'),
 ('sugary', 'JJ'),
 ('drink', 'NN'),
 ('before', 'IN'),
 ('bed', 'NN'),
 ('.', '.')]

In [ ]:
text13

['Children',
 'should',
 "n't",
 'drink',
 'a',
 'sugary',
 'drink',
 'before',
 'bed',
 '.']

In [ ]:
nltk.help.upenn_tagset('DT')

DT: determiner
    all an another any both del each either every half la many much nary
    neither no some such that the them these this those

In [ ]:
text14 = nltk.word_tokenize("Visiting aunts can be a nuisance")
nltk.pos_tag(text14)

[('Visiting', 'VBG'),
 ('aunts', 'NNS'),
 ('can', 'MD'),
 ('be', 'VB'),
 ('a', 'DT'),
 ('nuisance', 'NN')]

In [ ]:
nltk.help.upenn_tagset('VBG')

VBG: verb, present participle or gerund
    telegraphing stirring focusing angering judging stalling lactating
    hankerin' alleging veering capping approaching traveling besieging
    encrypting interrupting erasing wincing ...

### POS tagging and parsing ambiguity

In [ ]:
text18 = nltk.word_tokenize("The old man the boat")
nltk.pos_tag(text18)

[('The', 'DT'), ('old', 'JJ'), ('man', 'NN'), ('the', 'DT'), ('boat', 'NN')]

In [ ]:
nltk.help.upenn_tagset('DT')

DT: determiner
    all an another any both del each either every half la many much nary
    neither no some such that the them these this those

In [ ]:
text19 = nltk.word_tokenize("Colorless green ideas sleep furiously")
nltk.pos_tag(text19)

[('Colorless', 'NNP'),
 ('green', 'JJ'),
 ('ideas', 'NNS'),
 ('sleep', 'VBP'),
 ('furiously', 'RB')]

### Identify named entities: Named Entity Recognition (NER)

In [64]:
!apt-get install python3-tk

Reading package lists... Done
Building dependency tree
Reading state information... Done
python3-tk is already the newest version (3.6.9-1~18.04).
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 35 not upgraded.

In [66]:
from matplotlib.pyplot import *
from matplotlib.widgets import *
from math import *
from random import *
from numpy import *
from tkinter import *

In [68]:
import nltk 
#sentence = """At eight o'clock on Thursday 
#morning Arthur didn't feel very good."""

#sentence="Rajesh travelled to Ladak, he had a great travel experience"
sentence="Sathya leads Microsoft inc"
sentence="Sathya is a great leader and he leads Microsoft inc"

#sentence="John leads Microsoft inc"


tokens = nltk.word_tokenize(sentence)
tagged = nltk.pos_tag(tokens)
entities = nltk.chunk.ne_chunk(tagged)
print(entities)

(S
  (GPE Sathya/NNP)
  is/VBZ
  a/DT
  great/JJ
  leader/NN
  and/CC
  he/PRP
  leads/VBZ
  (ORGANIZATION Microsoft/NNP)
  inc/NN)

In [ ]:
?nltk.chunk.ne_chunk

Signature: nltk.chunk.ne_chunk(tagged_tokens, binary=False)
Docstring:
Use NLTK's currently recommended named entity chunker to
chunk the given list of tagged tokens.
File:      ~/.local/lib/python3.6/site-packages/nltk/chunk/__init__.py
Type:      function

# Case Study: Sentiment Analysis

Raw data

https://goo.gl/1Bxhns

In [71]:
!ls /content/drive/My\ Drive/Text\ Mining/TM_Data.zip

'/content/drive/My Drive/Text Mining/TM_Data.zip'

In [82]:
ls -la /content/drive/My\ Drive

total 186576
-rw------- 1 root root    29148 Apr 15  2019  0158.pdf
-rw------- 1 root root   668566 Jun 18 07:35  20200618163741_00001.jpg
-rw------- 1 root root   600358 Jun 18 07:35  20200618163741_00002.jpg
-rw------- 1 root root   711590 Jun 18 07:35  20200618163741_00003.jpg
-rw------- 1 root root   744706 Jun 18 07:35  20200618163741_00004.jpg
-rw------- 1 root root   720637 Jun 18 07:35  20200618163741_00005.jpg
-rw------- 1 root root   668565 Jun 18 07:35  20200618163741_00006.jpg
-rw------- 1 root root   679126 Jun 18 07:35  20200618163741_00007.jpg
-rw------- 1 root root    84380 Jun 27 02:55  41077-ECard.pdf
-rw------- 1 root root   546889 Jun 18  2019  7715397552831052019.pdf
drwx------ 2 root root     4096 Dec  7  2019  Aadhar/
-rw------- 1 root root   289247 Jun 28  2019  Aadhar_2.jpg
-rw------- 1 root root    74069 Dec  9  2013 'Adhar back.jpg'
-rw------- 1 root root    66529 Dec  9  2013  Adhar.jpg
drwx------ 2 root root     4096 Jan 11  2012  Anju/
-rw------- 1 root root      151 Oct 28  2018 'ANOVA 002.gsheet'
-rw------- 1 root root 47250023 Dec 20  2019  anu.mp4
-rw------- 1 root root      151 Nov  3  2018  Assessment.gsheet
-rw------- 1 root root      151 Nov 16  2012 'automated excel sheet_new.gsheet'
-rw------- 1 root root      151 Jan 25  2012 'Balance Sheet 2012-13.gsheet'
drwx------ 2 root root     4096 Jan 11  2012  Binulal/
-rw------- 1 root root    72704 Dec  5  2018  binulal.doc
-rw------- 1 root root      151 Dec  5  2018  binulal.gdoc
-rw------- 1 root root   166514 Dec 14  2019 'BINULAL_SOP (1).pdf'
-rw------- 1 root root   166766 Dec 15  2019  BINULAL_SOP.pdf
drwx------ 2 root root     4096 Feb 25 15:09 'BITS Application'/
drwx------ 2 root root     4096 Dec 17  2018  Books/
-rw------- 1 root root      151 Apr 11 11:48 'bucket chicken.gdoc'
-rw------- 1 root root      151 Jan 25  2012 'Budget 2012-13.gsheet'
drwx------ 2 root root     4096 Jul 15 05:46  Certificates/
-rw------- 1 root root      151 Nov  3  2018 'chi squared 001.gsheet'
drwx------ 2 root root     4096 Apr  9  2018 'Colab Notebooks'/
-rw------- 1 root root      151 Sep 15  2018 'Copy of BBC Results - Lesson 1 [Should you get a good night'\''s sleep?].gform'
-rw------- 1 root root      151 Sep 18  2018 'Copy of How many Facebook friends do Udacians have? - Lesson 3 (1).gform'
-rw------- 1 root root      151 Sep 27  2018 'Copy of How many Facebook friends do Udacians have? - Lesson 3.gform'
-rw------- 1 root root      151 Sep 18  2018 'Copy of How many Facebook friends do Udacians have? - Lesson 3 [How many Facebook friends do you have?] (1).gform'
-rw------- 1 root root      151 Sep 27  2018 'Copy of How many Facebook friends do Udacians have? - Lesson 3 [How many Facebook friends do you have?].gform'
-rw------- 1 root root      151 Sep 30  2018 'Copy of Klout scores (Lesson 7).gform'
-rw------- 1 root root    26081 Jul 11  2019 'Copy of List of courses to be offered with exam dates for First semester 2019-20.xlsx'
-rw------- 1 root root      151 Sep 27  2018 'Copy of Sample Social Networkers Salary n=100 - Lesson 4.gform'
-rw------- 1 root root    98042 Dec 14  2019 'CV (1).pdf'
-rw------- 1 root root    98042 Dec 15  2019  CV.pdf
-rw------- 1 root root      151 May  3  2019  DE_Startups.gsheet
-rw------- 1 root root      151 Oct  2  2018 'Engagement ratio - Lesson 8.gsheet'
drwx------ 2 root root     4096 Dec 27  2018  Europass/
drwx------ 2 root root     4096 Feb 25 15:09 'Fall 2019'/
drwx------ 2 root root     4096 Feb 25 15:10 'Fall 2020'/
-rw------- 2 root root      151 Jul 19  2008  fly.gsheet
-rw------- 1 root root     2839 Apr 10  2018  forest_solution.csv
-rw------- 1 root root      151 Sep 29  2018 'Gambling in Vegas.gsheet'
-rw------- 1 root root      151 Sep  3  2018 'GRE Study Schedule.gsheet'
-rw------- 2 root root   364993 Sep 17  2010  H6758315.pdf
-rw------- 2 root root      151 Feb 20  2007 'hashir resume.doc.gdoc'
-rw------- 1 root root      119 Jun  9  2015  home2office.gmap
-rw------- 1 root root  7941331 Aug  9  2016  IMG_2406.JPG
-rw------- 1 root root  5195421 Aug  9  2016 'IMG_2407 copy.jpg'
-rw------- 1 root root  7015132 Aug  9  2016  IMG_2407.JPG
-rw------- 1 root root  6827210 Aug  9  2016  IMG_2408.JPG
-rw------- 1 root root  6564508 Aug  9  2016  IMG_2409.JPG
-rw------- 1 root root  6571003 Aug  9  2016  IMG_2410.JPG
-rw------- 1 root root  6669419 Aug  9  2016  IMG_2411.JPG
-rw------- 1 root root  6828606 Aug  9  2016  IMG_2414.JPG
-rw------- 1 root root 15080046 Aug  9  2016 'IMG_2415 copy.jpg'
-rw------- 1 root root  7437519 Aug  9  2016  IMG_2415.JPG
-rw------- 1 root root  6916504 Aug  9  2016  IMG_2416.JPG
-rw------- 1 root root  7274314 Aug  9  2016  IMG_2417.JPG
-rw------- 1 root root  8180756 Aug  9  2016 'IMG_2427 copy.jpg'
-rw------- 1 root root  6911178 Aug  9  2016  IMG_2427.JPG
-rw------- 1 root root  7204345 Aug  9  2016  IMG_2428.JPG
-rw------- 1 root root  7597584 Aug  9  2016  IMG_2429.JPG
-rw------- 1 root root  7332723 Aug  9  2016  IMG_2430.JPG
-rw------- 2 root root      151 Nov 27  2011 'Imported from Google Notebook - My Notebook.gdoc'
-rw------- 2 root root      151 Jun  1  2008  June2008.gsheet
-rw------- 1 root root   116730 Dec 14  2019 'LOR _ MILA-scanned (1).pdf'
-r-------- 1 root root   116730 Dec 15  2019 'LOR _ MILA-scanned - Binulal Narayanan.pdf'
-rw------- 1 root root   116730 Dec 15  2019 'LOR _ MILA-scanned.pdf'
-rw------- 1 root root      151 Sep  3  2018 'Magoosh GRE: 90 Day GRE Study Plan for Beginners [V3 June 2015].gdoc'
-rw------- 1 root root   666287 Feb 23  2015  maman_02.png
-rw------- 1 root root      151 Nov 19  2012 'mandatory documents list @ joining day .gsheet'
drwx------ 2 root root     4096 Mar 12  2019  Masters/
-rw------- 1 root root      151 Apr  3  2019  Masters_Application.gsheet
-rw------- 2 root root      151 Oct 21  2008  match.gsheet
-rw------- 1 root root  2493890 Jan 29  2020 'Narayanan, Binulal - CES ECA Report.pdf'
-rw------- 1 root root      151 Sep 26  2018 'NHL - Problem Set 3.gsheet'
-rw------- 1 root root      119 Jun  9  2015  nilamel-kadakkal.gmap
drwx------ 2 root root     4096 Jan 11  2012  Old/
-rw------- 2 root root      151 Aug  2  2010  oops.gsheet
-rw------- 1 root root    21877 Jun 25 13:24  Possession.pdf
-rw------- 2 root root      151 Aug  5  2009 'Preetham Rai_Aug09.gdoc'
-rw------- 1 root root  1110391 Oct  4  2019  RA2018.pdf
-rw------- 2 root root      151 May  1  2009  reality.gsheet
-rw------- 1 root root    53270 Dec 16  2013 'resume  11new2.docx'
-rw------- 1 root root      151 Sep  1  2012  Resume-.docx.gdoc
-rw------- 2 root root      151 Jan  2  2008  S.gdoc
-r-------- 1 root root      151 May 20  2013 'Snowfall (in) - Orientation Week.gsheet'
-rw------- 1 root root      151 Feb 27 07:25  SOP.gdoc
-rw------- 2 root root      151 Mar 28  2007  Storage.doc.gdoc
-rw------- 2 root root      151 Apr  9  2007  Storage.gdoc
drwx------ 2 root root     4096 Aug  2 04:36 'Text Mining'/
-rw------- 1 root root  1918830 Dec 14  2019 'Transcripts_2mb (1).pdf'
-rw------- 1 root root  1918830 Dec 15  2019  Transcripts_2mb.pdf
drwx------ 2 root root     4096 Sep 15  2018  Udacity/
-rw------- 1 root root      119 Jun 12  2015 'Unknown road.gmap'
-rw------- 1 root root      151 Oct 28  2018 'Untitled spreadsheet.gsheet'
-rw------- 2 root root      151 Jul 19  2008  Vanajyotsna.gsheet
-rw------- 1 root root      151 Sep  4  2018 'WHO IS AFRAID OF RESEARCH.gdoc'
-rw------- 1 root root   752140 Sep  4  2018 'WHO IS AFRAID OF RESEARCH.pdf'

In [73]:
!unzip /content/drive/My\ Drive/Text\ Mining/TM_Data.zip

Archive:  /content/drive/My Drive/Text Mining/TM_Data.zip
   creating: TM_Data/
  inflating: TM_Data/Amazon_Unlocked_Mobile.csv
  inflating: TM_Data/dates.txt
  inflating: TM_Data/moby.txt
  inflating: TM_Data/mygrammar.cfg
  inflating: TM_Data/paraphrases.csv
  inflating: TM_Data/spam.csv

In [75]:
!ls TM_Data

Amazon_Unlocked_Mobile.csv  moby.txt	   paraphrases.csv
dates.txt		    mygrammar.cfg  spam.csv

In [76]:
!pwd

/content

### Data Prep

In [78]:
import pandas as pd
import numpy as np

# Read in the data
df = pd.read_csv('/content/TM_Data/Amazon_Unlocked_Mobile.csv')
#print(len(df))
# Sample the data to speed up computation
# Comment out this line to match with lecture
df = df.sample(frac=0.1,  random_state=10)
#print(len(df))

df.head()

                                             Product Name  ... Review Votes
394349  Sony XPERIA Z2 D6503 FACTORY UNLOCKED Internat...  ...          0.0
34377       Apple iPhone 5c 8GB (Pink) - Verizon Wireless  ...          1.0
248521  Motorola Droid RAZR MAXX XT912 M Verizon Smart...  ...          3.0
167661  CNPGD [U.S. Office Extended Warranty] Smartwat...  ...          0.0
73287   Apple iPhone 7 Unlocked Phone 256 GB - US Vers...  ...          1.0

[5 rows x 6 columns]

In [ ]:
#df.to_csv("~/temp.csv")

In [83]:
df[df['Rating'] != 3]

                                             Product Name  ... Review Votes
394349  Sony XPERIA Z2 D6503 FACTORY UNLOCKED Internat...  ...          0.0
34377       Apple iPhone 5c 8GB (Pink) - Verizon Wireless  ...          1.0
248521  Motorola Droid RAZR MAXX XT912 M Verizon Smart...  ...          3.0
167661  CNPGD [U.S. Office Extended Warranty] Smartwat...  ...          0.0
73287   Apple iPhone 7 Unlocked Phone 256 GB - US Vers...  ...          1.0
...                                                   ...  ...          ...
30001                  Apple iPhone 5c 32GB (Blue) - AT&T  ...          7.0
313198  Samsung Galaxy Grand Prime DUOS G531H/DS - Gra...  ...          0.0
138219      BLU Studio 5.0 C HD Unlocked Cellphone, White  ...          0.0
66571   Apple iPhone 6s 64 GB International Warranty U...  ...          0.0
109303  BLU Dash J Unlocked Phone - Retail Packaging -...  ...          1.0

[38184 rows x 6 columns]

In [84]:
# Drop missing values
df.dropna(inplace=True)

# Remove any 'neutral' ratings equal to 3
df = df[df['Rating'] != 3]

# Encode 4s and 5s as 1 (rated positively)
# Encode 1s and 2s as 0 (rated poorly)
df['Positively Rated'] = np.where(df['Rating'] > 3, 1, 0)
df.head(10)

                                             Product Name  ... Positively Rated
34377       Apple iPhone 5c 8GB (Pink) - Verizon Wireless  ...                0
248521  Motorola Droid RAZR MAXX XT912 M Verizon Smart...  ...                1
167661  CNPGD [U.S. Office Extended Warranty] Smartwat...  ...                0
73287   Apple iPhone 7 Unlocked Phone 256 GB - US Vers...  ...                1
277158  Nokia N8 Unlocked GSM Touch Screen Phone Featu...  ...                1
100311  Blackberry Torch 2 9810 Unlocked Phone with 1....  ...                1
251669  Motorola Moto E (1st Generation) - Black - 4 G...  ...                1
279878  OtterBox 77-29864 Defender Series Hybrid Case ...  ...                1
406017  Verizon HTC Rezound 4G Android Smarphone - 8MP...  ...                1
302567  RCA M1 Unlocked Cell Phone, Dual Sim, 5Mp Came...  ...                1

[10 rows x 7 columns]

In [85]:
# Most ratings are positive
df['Positively Rated'].mean()

0.7471776686078667

In [86]:
from sklearn.model_selection import train_test_split

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(df['Reviews'], 
                                                    df['Positively Rated'], 
                                                    random_state=0)

In [87]:
len(df)

30737

In [88]:
30737*.75

23052.75

In [89]:
print('X_train first entry:\n\n', X_train.iloc[0])
print('\n\nX_train shape: ', X_train.shape)

X_train first entry:

 Everything about it is awesome!


X_train shape:  (23052,)

# CountVectorizer

In [90]:
import sklearn
import pandas as pd
import numpy as np

In [91]:
from sklearn.feature_extraction.text import CountVectorizer

# Fit the CountVectorizer to the training data
vect = CountVectorizer().fit(X_train)

In [92]:
vect

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [93]:
vect.get_feature_names()[::2000]

['00',
 'arroja',
 'comapañias',
 'dvds',
 'golden',
 'lands',
 'oil',
 'razonable',
 'smallsliver',
 'tweak']

In [ ]:
#len([ x for x in vect.get_feature_names() if x.islower()])

In [94]:
len(vect.get_feature_names())

19601

In [95]:
# transform the documents in the training data to a document-term matrix
X_train_vectorized = vect.transform(X_train)

X_train_vectorized

<23052x19601 sparse matrix of type '<class 'numpy.int64'>'
	with 613289 stored elements in Compressed Sparse Row format>

In [96]:

from sklearn.linear_model import LogisticRegression

# Train the model
model = LogisticRegression(solver="liblinear")
model.fit(X_train_vectorized, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [97]:
from sklearn.metrics import roc_auc_score

# Predict the transformed test documents
predictions = model.predict(vect.transform(X_test))

print('AUC: ', roc_auc_score(y_test, predictions))

AUC:  0.8974332776669326

In [98]:
# get the feature names as numpy array
feature_names = np.array(vect.get_feature_names())

# Sort the coefficients from the model
sorted_coef_index = model.coef_[0].argsort()

# Find the 10 smallest and 10 largest coefficients
# The 10 largest coefficients are being indexed using [:-11:-1] 
# so the list returned is in order of largest to smallest
print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs: \n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))

Smallest Coefs:
['worst' 'terrible' 'slow' 'junk' 'poor' 'sucks' 'horrible' 'useless'
 'waste' 'disappointed']

Largest Coefs:
['excelent' 'excelente' 'excellent' 'perfectly' 'love' 'perfect' 'exactly'
 'great' 'best' 'awesome']

In [ ]:
 np.sort(model.coef_[0])[:10]

array([-8.71296322, -4.98955843, -4.30238244, -4.15276932, -4.0598151 ,
       -4.00002566, -3.98630362, -3.8958822 , -3.73920797, -3.70796643])

In [ ]:
 np.sort(model.coef_[0])[:-11:-1]

array([10.1015186 ,  8.17068868,  5.97349197,  5.41103357,  5.34284637,
        5.28926342,  4.61077643,  4.47882299,  4.39019126,  4.16128828])

# Tfidf

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Fit the TfidfVectorizer to the training data specifiying a minimum document frequency of 5
vect = TfidfVectorizer(min_df=5).fit(X_train)
len(vect.get_feature_names())

5442

In [ ]:
#? TfidfVectorizer

In [ ]:
X_train_vectorized = vect.transform(X_train)

model = LogisticRegression()
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))

print('AUC: ', roc_auc_score(y_test, predictions))

AUC:  0.889951006492175

In [ ]:
feature_names = np.array(vect.get_feature_names())

sorted_tfidf_index = X_train_vectorized.max(0).toarray()[0].argsort()

print('Smallest tfidf:\n{}\n'.format(feature_names[sorted_tfidf_index[:10]]))
print('Largest tfidf: \n{}'.format(feature_names[sorted_tfidf_index[:-11:-1]]))

Smallest tfidf:
['61' 'printer' 'approach' 'adjustment' 'consequences' 'length' 'emailing'
 'degrees' 'handsfree' 'chipset']

Largest tfidf:
['unlocked' 'handy' 'useless' 'cheat' 'up' 'original' 'exelent' 'exelente'
 'exellent' 'satisfied']

In [ ]:
sorted_coef_index = model.coef_[0].argsort()

print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs: \n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))

Smallest Coefs:
['not' 'slow' 'disappointed' 'worst' 'terrible' 'never' 'return' 'doesn'
 'horrible' 'waste']

Largest Coefs:
['great' 'love' 'excellent' 'good' 'best' 'perfect' 'price' 'awesome'
 'far' 'perfectly']

In [ ]:
# These reviews are treated the same by our current model
print(model.predict(vect.transform(['not an issue, phone is working',
                                    'an issue, phone is not working'])))

[0 0]

# n-grams

In [ ]:
# Fit the CountVectorizer to the training data specifiying a minimum 
# document frequency of 5 and extracting 1-grams and 2-grams
vect = CountVectorizer(min_df=5, ngram_range=(1,2)).fit(X_train)

X_train_vectorized = vect.transform(X_train)

len(vect.get_feature_names())

29072

In [ ]:
model = LogisticRegression(solver="liblinear")
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))

print('AUC: ', roc_auc_score(y_test, predictions))

AUC:  0.9110661794597458

In [ ]:
feature_names = np.array(vect.get_feature_names())

sorted_coef_index = model.coef_[0].argsort()

print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs: \n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))

Smallest Coefs:
['no good' 'junk' 'poor' 'slow' 'worst' 'broken' 'not good' 'terrible'
 'defective' 'horrible']

Largest Coefs:
['excellent' 'excelente' 'excelent' 'perfect' 'great' 'love' 'awesome'
 'no problems' 'good' 'best']

In [ ]:
# These reviews are now correctly identified
print(model.predict(vect.transform(['not an issue, phone is working',
                                    'an issue, phone is not working'])))

[1 0]

In [ ]:
myDiction={"name": "john", "data": np.arange(100).reshape(20,5)}

In [ ]:
import pickle

In [ ]:
myfile=open("data.pkl", "wb")
pickle.dump(myDiction, myfile)

In [ ]:
myfile.close()

In [ ]:
!ls

Amazon_Unlocked_Mobile.csv
data.pkl
dates.txt
moby.txt
mygrammar.cfg
paraphrases.csv
spam.csv
temp.csv
textMining
TextMining_NLTK_Consolidated-Copy1.ipynb
TextMining_NLTK_Consolidated_ModifApril2019WithDataLink.ipynb
textMining.tar.gz
TM_Data
TM_Data.zip

In [ ]:
myfile=open("mymodel.pkl", "wb")
pickle.dump([model,vect], myfile)
myfile.close()

In [ ]:
from joblib import dump, load

In [ ]:
dump([model,vect], "modeVec.joblib")

['modeVec.joblib']

In [ ]:
model1, vec1=load("modeVec.joblib")

In [ ]:
mydata=np.arange(10)

In [ ]:
np.save(mydata, "mydata")

TypeError: expected str, bytes or os.PathLike object, not ndarray